/Datasets/*
/HolisticDataset/result-HLP-2-1.txt
/HolisticDataset/result-HLP-5-1.txt
/HolisticDataset/result-HLP-5-2.txt
/HolisticDataset/result-HLP-5-3.txt
/HolisticDataset/result-HLP-50-1.txt
/HolisticDataset/result-HLP-100-4.txt
/HolisticDataset/result-HLP-300-5.txt
/HolisticDataset/result-HLP-1000-2.txt
/HolisticDataset/*.tflearn.*
/HolisticDataset/checkpoint
/AlexandreDataset/checkpoint

