/Datasets/*

/HolisticDataset/*.txt
/HolisticDataset/*.tflearn.*
/HolisticDataset/checkpoint
/HolisticDataset/.ipynb_checkpoints/*

/AlexandreDataset/*.txt
/AlexandreDataset/checkpoint
/AlexandreDataset/.ipynb_checkpoints/*

/Cat-Dog/*.txt
/Cat-Dog/.ipynb_checkpoints/*
/Cat-Dog/*.model.*
/Cat-Dog/*.h5
/Cat-Dog/checkpoint

/logs/*
